body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #ADD8E6;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
    margin-bottom: 20px;
}

img {
    width: 1000px;
    height: 1000px;
}

.project {
    margin-bottom: 15px;
}